
body
  background-color black
h1
  color red

.light-grid .light
  margin 1em
  padding 3em
  padding-left 1em
  padding-right 1em
  float left

.light
  border 1px solid #DDD
  border-radius 40px 40px 0px 00px
  display block
  text-align center
  span
    display inline-block
    width 20px
    background-color white
    color black
    padding 1em
    border-radius 40px


