
body
  background-color black

a
  color white
a:hover
  text-decoration none

h2
  color white
  font-size 13pt

.light-grid .light
  margin 1em
  padding 2em
  padding-left 1em
  padding-right 1em
  float left

.light
  border 1px solid #DDD
  border-radius 40px 40px 0px 00px
  display block
  text-align center
  span
    display inline-block
    width 20px
    background-color white
    color black
    padding 1em
    border-radius 40px

.clear
  clear both

.log
  font-size 9pt

  p
    margin 1px
    border-color white
    border-width 0px 0px 1px 0px
    border-style solid


  .info
    color white
    width 45%
    float left


  .err
    width 45%
    float right
    color red

