!!! 5
html
  head
    title lights
    !{renderStyleTags()}
    !{renderScriptTags()}

  body
    h1 hello
    .light-grid
      each l in lights
        .light(data-light-id="#{ l.id }")
          span= l.id

